<div class="contenedor">
    <header id="header">
        <nav>
            <ul>
                <li class="brand">The brand</li>
                <div class="li-list">
                    <li><a href=""> Home</a></li>
                    <li><a href=""> About</a></li>
                    <li><a href=""> Skills</a></li>
                    <li><a href=""> Portfolio</a></li>
                    <li><a href="#Portfolio"> Contact</a></li>
                </div>
                <div class="li-list-burger">
                    <li><a href=""> Home</a></li>
                    <li><a href=""> About</a></li>
                    <li><a href=""> Skills</a></li>
                    <li><a href=""> Portfolio</a></li>
                    <li><a href="#Portfolio"> Contact</a></li>
                </div>
                <li class="boton"></li>
            </ul>
        </nav>
        <div class="hero">
            <h3>
                Hi, I Am <a href="https://www.linkedin.com/in/bryan-p%C3%A9rez-4190aa118/"> Bryan Pérez <i
                        class="hand"><span class="material-symbols-outlined">
                            waving_hand
                        </span></i></a>
            </h3>
            <h1>
                Fullstack & Mobile Developer
            </h1>
            <p style="padding: 25px 0;">

                I Design And Code Beautiful Things, And I Love What I Do.
            </p>
            <img sizes="15px" src="../../../assets/images/images.png" alt="Avatar">
        </div>
        <div>
            <div class="card-contenedor">
                <div class="card">
                    <div class="icon-contenedor">
                        <i class="bi bi-award"></i>
                    </div>
                    <div>
                        <h3>1+</h3>
                        <span> Years Of Experience</span>
                    </div>
                    <i class="bi bi-caret-right"></i>
                </div>
                <div class="card">
                    <div class="icon-contenedor">
                        <i class="bi bi-check-circle"></i>
                    </div>
                    <div>
                        <h3> 4+</h3>
                        <span> Completed Projects</span>
                    </div>
                    <i class="bi bi-caret-right"></i>
                </div>
                <div class="card">
                    <div class="icon-contenedor">
                        <i class="bi bi-people"></i>
                    </div>
                    <div>
                        <h3> 2+</h3>
                        <span> Happy Clients</span>
                    </div>
                    <i class="bi bi-caret-right"></i>
                </div>
            </div>
        </div>
    </header>

    <!-- <section id="portfolio">
        <h1 style="text-align: center; padding-top:5em">Portfolio</h1>
        <div class="portfolio-container">
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
            <div class="portfolio-container__item">
                <img class="portfolio-container__image"
                    src="../../../assets/images/banner-secundario-actualiza-informacion-nuevo-v1.png" alt="Product">
            </div>
        </div>
    </section> -->

    <section id="skills">
        <div class="soft-skill">
            <h1 style="text-align: center; padding-top:5em">Soft Skills</h1>

            <ul class="soft-skills-list">
                <li class="soft-skills-list__item">
                    <i class="bi bi-check-circle"></i>
                    <span>
                        Colaborative Teammate 
                    </span>
                    <br>
                    <small>
                        <strong>
                            Amauta Tech
                        </strong>
                    </small>
                </li>
                <li class="soft-skills-list__item">
                    <i class="bi bi-check-circle"></i>
                    <span>
                        Self-Learning
                    </span>
                    <br>
                    <small>
                        <strong>
                            Amauta Tech
                        </strong>
                    </small>
                </li>
                <li class="soft-skills-list__item">
                    <i class="bi bi-check-circle"></i>
                    <span>
                        Troubleshooting 
                    </span>
                    <br>
                    <small>
                        <strong>
                            Amauta Tech
                        </strong>
                    </small>
                </li>
                <li class="soft-skills-list__item">
                    <i class="bi bi-check-circle"></i>
                    <span>
                        Critical Thinking
                    </span>
                    <br>
                    <small>
                        <strong>
                            Amauta Tech
                        </strong>
                    </small>
                </li>
               

            </ul>
        </div>

        <div class="tech-skill">

            <h1 style="text-align: center; padding-top:5em">Tech Skills</h1>

            <div class="skills-container">
                <div class="skills__item">
                    <img src="../../../assets/images/Unofficial_JavaScript_logo_2.svg.png" alt="">
                    <p>Javascript</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/ts-logo-128.png" alt="">
                    <p>Typescript</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/png-clipart-laravel-software-framework-php-web-application-redes-sociais-angle-text.png" alt="">
                    <p>Laravel</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/png-transparent-node-js-javascript-react-express-js-linux-foundation-mongodb-icons-angle-text-rectangle.png" alt="">
                    <p>Nodejs</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/nestjs-logo-09342F76C0-seeklogo.com.png" alt="">
                    <p>Nestjs</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/Angular_full_color_logo.svg.png" alt="">
                    <p>Angular</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/1200px-React.svg.png" alt="">
                    <p>Reactjs</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/html.png" alt="">
                    <p>HTML</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/css.png" alt="">
                    <p>CSS</p>
                </div>
                <div class="skills__item">
                    <img src="../../../assets/images/Bootstrap-logo.png" alt="">
                    <p>Boostratp</p>
                </div>
               
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer__header" style="position: relative; align-self: flex-start; "  >

            <img style="position: absolute; margin: 0; padding: 0;"  id="email-icon" src="../../../assets/images/correo-electronico.png" alt="">
            <h1 >Contact</h1>
            <p style="padding-top:15px ;" >Send me an email to get in touch</p>

        </div>
        <div>
            <form>
                <input class="form__item" type="email" placeholder="Write your email" />
                <textarea class="form__item" name="mensaje" id="mensaje" cols="30" rows="10"
                    placeholder="Write your message"></textarea>
                <button class="form__item send">Send</button>
            </form>
        </div>
    </footer>
</div>