@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

.contenedor {
    background-color: #23272c;
    color: #e5e1dc;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

ul {
    list-style: none;

    display: flex;
    /* gap: 0 15px; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

ul li a {
    font-size: small;

    color: white;
    text-decoration: none;
}

.li-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.li-list li {
    padding: 0 15px;
    color: #e5e1dc;
}

.li-list li:hover {
    font-weight: bold;
}

.boton {
    color: #feb642;

}

.boton::before {
    content: 'Hire me';
    border-radius: 25px;
    border: #feb642 solid;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: small;
    font-weight: bold;

}

.brand {
    cursor: pointer;

}

header {
    margin: 4rem 0;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.card-contenedor {
    /* position: relative; */


    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    /* width: 25%; */
    background: #363e45;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    /* position: absolute; */


    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;


}

.card h3 {
    color: #feb642;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;

}

.card span {
    color: #e5e1dc;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

img {
    margin-bottom: 1.2rem;
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

a {
    color: #feb642;
    text-decoration-color: #feb642;
}

.hand {
    color: #feb642;
    margin-left: 0.5rem;
}

/* .icon-contenedor li {
    padding: 0px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #e5e1dc;

} */

.icon-contenedor i {
    background: #e5e1dc;
    color: #23272c;
    border-radius: 100%;
    padding: 15px;
    font-size: 1.7em;
    /*1em equal to original size, 1.5 is equal more less original size más the middle*/

}