<div class="contenedor">
    <nav>
        <ul>
            <li class="brand">The brand</li>
            <div class="li-list">
                <li><a href=""> Home</a></li>
                <li><a href=""> About</a></li>
                <li><a href=""> Skills</a></li>
                <li><a href=""> Portfolio</a></li>
                <li><a href=""> Contact</a></li>
            </div>
            <li class="boton"></li>
        </ul>
    </nav>
    <header>
        <h3>
            Hi, I Am <a href="https://www.linkedin.com/in/bryan-p%C3%A9rez-4190aa118/"> Bryan Pérez <i
                    class="hand"><span class="material-symbols-outlined">
                        waving_hand
                    </span></i></a>
        </h3>
        <h1  >
            Fullstack & Mobile Developer
        </h1>
        <p style="padding: 25px 0;">

            I Design And Code Beautiful Things, And I Love What I Do.
        </p>
        <img sizes="20px" src="../../../assets/images/images.png" alt="Avatar">
    </header>
    <section>
        <div class="card-contenedor">
            <div class="card">
                <div class="icon-contenedor">
                    <i class="bi bi-award"></i>
                </div>
                <div>
                    <h3>5+</h3>
                    <span> Years Of Experience</span>
                </div>
                <i class="bi bi-caret-right"></i>
            </div>
            <div class="card">
                <div class="icon-contenedor">
                    <i class="bi bi-check-circle"></i>
                </div>
                <div>
                    <h3> 100+</h3>
                    <span> Completed Projects</span>
                </div>
                <i class="bi bi-caret-right"></i>
            </div>
            <div class="card">
                <div class="icon-contenedor">
                    <i class="bi bi-people"></i>
                </div>
                <div>
                    <h3> 50+</h3>
                    <span> Happy Clients</span>
                </div>
                <i class="bi bi-caret-right"></i>
            </div>
        </div>
    </section>
</div>