<!-- <ul class="nav flex-column"> -->
<!-- <li class="nav-item my-3"> -->
<!-- <a class=" btn btn-outline-secondary " aria-current="page" routerLink="/votes"> -->

<!-- </a> -->
<!-- </li> -->

<!-- <li class="nav-item">
      <a class="nav-link disabled"></a>
    </li> -->
<!-- </ul> -->

<div class="row">
    <div class="col ">
        <nav class="d-grid gap-4">
            <button class=" p-2 btn btn-outline-primary"  routerLink="/votes"> I want to vote a true/false question</button>
            <button class=" p-2 btn btn-outline-primary"  routerLink="/mensaje"> I want to go to the chat</button>
            <button class=" p-2 btn btn-outline-danger"  (click)="salir()"> Go out</button>
        </nav>

    </div>
</div>