<div class="row justify-content-center">
    <div class="col-6">
        <form class="p-4" (ngSubmit)="createQuestion()">
            <textarea  id="title" 
                    type="text" 
                    [(ngModel)]="title"
                    name="title" 
                    placeholder="Question" 
                    class="form-control mb-3" 
                    autofocus>
            </textarea>
            <div class="d-grid">
                <button class="btn btn-primary">
                    Vote
                </button>
            </div>
        </form>
    </div>
</div>