<h1>Usuario <small>{{wsService.usuario!.nombre}}</small></h1>
<hr>
<div class="row">
    <div class="col-6">
        <h1>{{question.title}}</h1>
        <hr style="width: 100%;">
        <div class="flex-row">
            <button class="btn btn-outline-primary btn-lg mx-3" (click)="votes('yes')">
                Yes: <span class="fw-bold">{{question.yesNumber}}</span>
            </button>

            <button class="btn btn-outline-danger btn-lg mx-3" (click)="votes('no')">
                No: <span class="fw-bold">{{question.nosNumber}}</span>
            </button>
        </div>

    </div>
    <div class="col-6">
        <app-lista-usuarios></app-lista-usuarios>

    </div>

</div>

<app-grafica></app-grafica>