body {
    font-family: 'Merriweather', serif;
}

header { 
    margin-top: 95px;
}

#testimonial {
    background-color: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#contact {
    background: url(../../assets/images/eed407_8e72a0e654d746ba9466e434dfab6917_mv2.jpg);
}