<div class="container">
  <div class="p-fluid">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label for="title" appLabel label="Book Title"></label>
        <input id="title" formControlName="title" type="text" pInputText>
      </div>

      <div class="field  ">
        <label for="dateEdition">Edition Date</label>
        <input id="dateEdition" formControlName="dateEdition" type="text" pInputText>
      </div>

      <div class="field  ">
        <label for="numberEdition">Edition Number</label>
        <p-inputNumber id="numberEdition" formControlName="numberEdition"></p-inputNumber>
      </div>

      <div class="field  ">
        <label for="author">Author</label>
        <p-dropdown id="author" formControlName="author" [options]="authors" [filter]="true" filterBy="user.name"
          placeholder="Select">
          <ng-template pTemplate="selectedItem">
            <div *ngIf="authorField.value">
              <div>{{authorField.value?.user.name}}</div>
            </div>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>
              <div>{{item.user.name}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      
      <div class="field">
        <button pButton label="Save" icon="pi pi-save"></button>
      </div>
    </form>
  </div>
</div>