<h3>Users</h3>
<ul class="list-group">
  <small>
     {{(usuariosActivosObs | async)?.length}} active users
  </small>
  <li class="list-group-item bg-dark text-white border border-light" *ngFor="let usuario of (usuariosActivosObs | async)">
    {{ usuario.nombre }}
    <br>

    <!-- <div [ngSwitch]="usuario.yaVoto">
      <div *ngSwitchCase="true">
        <div *ngIf="usuario.voto; else votoNo">
          Voted <span class="badge bg-primary text-white">
            YES
          </span>

        </div>
        <ng-template #votoNo>
          Voted <span class="badge bg-danger">
            No
          </span>
        </ng-template>
      </div>
      <div *ngSwitchCase="false">
        <span class="badge bg-info">
          Didn't vote
        </span>
      </div>
      <div *ngSwitchDefault>
        <span class="badge bg-info">
          Didn't vote
        </span>
      </div>
    </div> -->
  </li>

</ul>